.header {
	background-color: $primary-blue;
	height: 25vh;
	color: white;
	text-align: center;
	position: relative;
}

.heading-main {
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 2px;
	padding-top: 1rem;
	margin-bottom: 0.5rem;
}

.chosen-color {
	font-size: 2.5rem;
	margin-bottom: 0.7rem;
}

.turns {
	font-size: 1.95rem;
	text-transform: uppercase;
	font-weight: 700;
}

.turns-count {
	font-size: 2.3rem;
	margin-left: 1.5rem;
}

.result {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	background-color: white;
}
